<h1>About Page</h1>
<div {{action "over" on="mouseEnter"}}>
  <div {{action "out" on="mouseLeave"}}>
    {{#about-profile twitter="" name="vivek" title="Engineer I" image="http://cdn.scrapdigest.com/wp-content/uploads/2015/12/bruce-lee1.jpg"}}
      {{twitter-share data-url=''
      data-text='' data-size='large' data-hashtags='emberjs'}}
    {{/about-profile}}
  </div>
</div>
